html{
    height: 100%;
    width: 100%;
}
body{
    color: rgb(0, 0, 0);
    overflow: hidden;
    background-image :url('image/cloud.jpg');
    background-position: center;
    background-size: cover;
    background-color: rgb(2, 1, 25,0.9);
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
main{
    height: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
header{
    height: 10%;
    overflow: hidden;
}
a{
    text-decoration: none;
}
#back_img{
    background-color: rgb(2, 1, 25,0.89);
    position: absolute;
    height: 100%;
    width: 40%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    z-index: -1;
}
#infomation{
    display: inline-block;
    text-align : center;
    margin: auto;
    font-size: 17px;
    font-weight: bolder;
    width : 100%;
    color: rgb(0, 0, 0);
    
}
#header{
    font-size: 200%;
    margin: 20px 40px;
    color: rgba(220, 220, 220, 0.621);
    filter: blur(0.3px);
}
#region_info{
    flex-basis: 55%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height : 90%;
}
#region_info_map{
    margin-top: 15px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}
#region_info_typo{
    width: 150px;
    height: 630px;
}
#region_info_typo_sene{
    width: 100%;
    height: 80%;
    margin-top: 60px;
}

.region_info_typo_sene_face{
    filter: blur(0.3px);
    width: 60px;
    height: 60px;
    margin: 0px;
    position: relative;
    transform: perspective(1000px);
    transform-style: preserve-3d;
    font-size: 50px;
    text-align: center;
    color: rgba(220, 220, 220, 0.621);
}
.region_info_typo_sene_face:nth-child(1){
    animation: filp 4.5s infinite;
}
.region_info_typo_sene_face:nth-child(2){
    animation: filp 4.5s 0.2s infinite;
}
.region_info_typo_sene_face:nth-child(3){
    animation: filp 4.5s 0.4s infinite;
}
.region_info_typo_sene_face:nth-child(4){
    animation: filp 4.5s 0.6s infinite;
}
.region_info_typo_sene_face:nth-child(5){
    animation: filp 4.5s 0.8s infinite;
}
.region_info_typo_sene_face:nth-child(6){
    animation: filp 4.5s 1s infinite;
}
.region_info_typo_sene_face:nth-child(7){
    animation: filp 4.5s 1.2s infinite;
}
@keyframes filp {
    0%{transform:rotateY(0deg)}
    70%{transform:rotateY(360deg)}
}
.typo_ele{
    width: 100%;
    height: 100%;
    margin: 0px;
    position: absolute;
}
.region_info_typo_sene_face_front{
    transform: translateZ(0.1px);
}

#weather_info{
    margin : auto 0px;
    margin-left: 50px;
    width: 130px;
}
.weather_info_box1{
    height: 100px;
    width: 100px;
    margin: 10px auto;
    margin-top: 65px;
    text-align: center;
    margin-top: 40px;
}
.weather_info_box2{
    height: 100px;
    width: 100px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.weather_info_text{
    height: 35%;
    width: 100%;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}
.weather_info_sky{
    height: 75%;
    width: 75%;
}
.weather_info_img{
    height: 45px;
    width: 45px;
    
}


#video_list{
    flex-basis: 42%;
    height : 90%;
}
#video_list_box{
    margin-top : 20px;
    min-width: 570px;
    width : 90%;
    margin: 0px;
}
#video_window{
    display:flex;
    width : 100%;
    height :250px;
    justify-content: center;
    align-items: center;
}
#cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 454px;
    height : 253px;
    overflow: hidden;
    border-radius: 10px;
    margin-top:50px;

}
#video_window_ifram{
    border: none;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: inset 3px 3px 6px 5px rgba(0, 0, 0, 0.05);
}
.video_list{
    overflow: hidden;
    display: inline-block;
    margin:30px;
    margin-top: 50px;
    width: 90%;
    height: 55%;
}
#scroll{
    position:relative;
    width: 104%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#video_list_for_clone{
    display: none;
}
.video_list_each{
    width: 100%;
    height: 60px;
}
.video_list_each_a{
    margin: 10px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
#thumb_nail{
    width: 100px;
    height: 55px;
    margin-left:40px;
    border-radius: 10px;
    background-image: url('image/icon/ylogo.svg');
    background-position: center;
    background-size: cover;
}
.video_list_each_info{
    width: 75%;
    height: 100%;
    position: relative;
}
.video_list_each_view{
    position: absolute;
    top: 0px;
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 30%;
    color: black;
    font-size: 14px;
    font-weight: bolder;

}
.video_list_each_title{
    position: absolute;
    top: 20px;
    display: inline-block;
    margin: 0;
    margin-top: 2px;
    width: 100%;
    height: 70%;
    overflow-y: hidden;
    color: black;
    
    font-size: 12px;
    font-weight: 550;
}

.pop_up_box{
    border-radius: 23px;
    background-color: rgb(252, 252, 252,0.56);
    box-shadow: 3px 3px 6px 4px rgba(0, 0, 0, 0.2);
    min-height: 630px;
    height: 100%;
}
